<nav class="bg-white border-gray-200 dark:bg-gray-800 justify-around">
  <div class="flex items-center space-x-6 rtl:space-x-reverse">
    <a
      href="{{ url_for('index') }}"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >CarbonFootPrint</span
      >
    </a>
  </div>
  <div class="flex items-center space-x-6 rtl:space-x-reverse">
    <a
      href="{{ url_for('calculate') }}"
      class="text-sm text-gray-500 dark:text-white hover:underline"
      >Calculate</a
    >
    <a
      href="{{ url_for('overview') }}"
      class="text-sm text-gray-500 dark:text-white hover:underline"
      >Overview</a
    >
    {% if current_user.is_authenticated %}
    <span>Welcome, {{ current_user.username }}</span>
    <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
    {% endif %}
  </div>
</nav>
