{% extends 'base.html' %}

{% block head %}
<title>test</title>
{% endblock %}

{% block body %}
<div class="login-box">
  <h2>Login</h2>
  <form action="google.com" method="POST">
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>Password</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>re-Password</label>
    </div>
    <div class="">
      <input class="login-button" type="submit" name="" value="Register">
    </div>
  </form>
</div>

{% endblock %}