<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/tailwind.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/css/iziToast.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

    {% block head %} {% endblock %}
  </head>
  <body class="bg-gray-50 dark:bg-gray-900 min-h-screen">
    {% include 'dashboard/partials/header.html' %} {% block body %} {% endblock
    %} {% include 'dashboard/partials/flasher.html' %} {% include
    'dashboard/partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
