{% extends 'dashboard/base.html' %} {% block head %}
<title>Carbon FootPrint</title>
{% endblock %} {% block body %}

<div
  class="bg-green-100 shadow-md rounded-lg p-10 max-w-xl w-full mx-auto mt-10"
>
  <form id="carbonFootprintForm" method="POST" action="/calculate" class="">
    <div class="bg-white p-2 rounded-lg">
      <h1 class="text-2xl font-bold text-center mb-6">Energy Usage</h1>
      <div class="mt-8">
        <label
          for="transportation"
          class="block text-sm font-medium text-gray-700"
          >What is your avrage monthly electricity bill in euros?</label
        >
        <input
          type="number"
          name="milesTravelled[]"
          min="0"
          placeholder="100"
          required
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        />
      </div>
      <div id="transportationDetails" class="mt-8">
        <label
          for="transportation"
          class="block text-sm font-medium text-gray-700"
          >What is your avrage monthly natural gas bill in euros?</label
        >
        <div class="dynamic-input">
          <input
            type="number"
            name="milesTravelled[]"
            min="0"
            placeholder="100"
            required
            class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          />
        </div>
      </div>
      <div id="transportationDetails" class="my-8">
        <label
          for="transportation"
          class="block text-sm font-medium text-gray-700"
          >What is your avrage monthly fuel bill in euros?</label
        >
        <div class="dynamic-input">
          <input
            type="number"
            name="milesTravelled[]"
            min="0"
            placeholder="100"
            required
            class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          />
        </div>
      </div>
      <!-- <button type="button" class="add-btn" onclick="addTransportationField()"> -->
      <!-- Add More Miles
      </button> -->
    </div>

    <div class="bg-white p-2 mt-4 rounded-lg">
      <h1 class="text-2xl font-bold text-center mb-6">Waste</h1>
      <label
        for="electricityUsage"
        class="block text-sm font-medium text-gray-700"
        >Monthly Electricity Usage (kWh)</label
      >
      <input
        type="number"
        id="electricityUsage"
        name="electricityUsage"
        min="0"
        required
        class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
      />
    </div>
    <div class="bg-white p-2 mt-4 rounded-lg">
      <h1 class="text-2xl font-bold text-center mb-6">Business Travel</h1>
      <label for="gasUsage" class="block text-sm font-medium text-gray-700"
        >Monthly Gas Usage (cubic meters)</label
      >
      <input
        type="number"
        id="gasUsage"
        name="gasUsage"
        min="0"
        required
        class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
      />
    </div>

    <!-- <div class="bg-white p-2 mt-4 rounded-lg">
      <h1 class="text-2xl font-bold text-center mb-6">
        Carbon Footprint Calculator
      </h1>
      <label for="waste" class="block text-sm font-medium text-gray-700"
        >Household Waste per Week (kg)</label
      >
      <input
        type="number"
        id="waste"
        name="waste"
        min="0"
        required
        class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
      />
    </div> -->

    <div>
      <button
        type="submit"
        class="mt-10 w-full bg-indigo-600 text-white font-medium py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
      >
        Calculate Footprint
      </button>
    </div>
  </form>
</div>

{% endblock %}
