{% extends 'dashboard/base.html' %} {% block head %}
<title>Carbon FootPrint</title>
{% endblock %} {% block body %}

<section class="bg-gray-50 dark:bg-gray-900 mt-20 text-lime-50">
  <div
    class="bg-gray-100 rounded-lg dark:bg-gray-800 py-8 px-4 mx-auto max-w-screen-xl mt-10"
  >
    <div class="mb-10 mx-10">
      <h2 class="text-4xl font-extrabold dark:text-white">A visual report:</h2>
    </div>
    <canvas id="myChart"></canvas>
  </div>
  
  <div
    class="bg-gray-100 rounded-lg dark:bg-gray-800 py-8 px-4 mx-auto max-w-screen-xl mt-10"
  >
    <div class="mb-10 mx-10">
      <h2 class="text-4xl font-extrabold dark:text-white">What should I do?</h2>
    </div>

    {% for suggestion in suggestions %}
    <!-- <li class="suggestion {{ suggestion.status }}">{{ suggestion.icon }}</li> -->
    <div
      class="text-lg flex items-center p-4 mb-4 {{ 'text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400' if suggestion.status == 'high' else 'bg-green-50 dark:bg-gray-800 dark:text-green-400' }} rounded-lg"
      role="alert"
    >
      <svg
        class="flex-shrink-0 inline w-4 h-4 me-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-bold">{{ suggestion.category }}: </span>{{
        suggestion.text }}
      </div>
    </div>
    {% endfor %}
    <div id="suggestions-container"></div>
  </div>

  <script>
    const stats = {{ stats | tojson | safe }};
    const userFinalData = {{ user_final_data | tojson | safe if user_final_data != [] else []}};
  </script>
</section>

{% endblock %}
