{% extends 'dashboard/base.html' %} {% block head %}
<title>Carbon FootPrint</title>
{% endblock %} {% block body %}

<section class="bg-gray-50 dark:bg-gray-900 mt-20 text-lime-50">
  <div
    class="bg-gray-100 rounded-lg dark:bg-gray-800 py-8 px-4 mx-auto max-w-screen-xl"
  ></div>
  <div
    class="bg-gray-100 rounded-lg dark:bg-gray-800 py-8 px-4 mx-auto max-w-screen-xl mt-10"
  >
    <h2>this is the chart!</h2>
    <canvas id="myChart"></canvas>
  </div>
  <script>
    const stats = {{ stats | tojson | safe }};
    const userFinalData = {{ user_final_data | tojson | safe if user_final_data != [] else []}};
  </script>
</section>

{% endblock %}
